body{
    background-color: #ffdeb9;
}

#game{
    background-color: #fefffd;
    position: absolute;
    margin-left: 10%;
    margin-top: 5%;
    border: 1px solid #62889F;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #353437;
}